@use '../../styles/variables.scss';

.rc-pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0;

  &-prev,
  &-next {
    .rc-pagination-item-link {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        font-size: 48px;
        font-weight: 100;
        color: variables.$white;
      }
    }
  }

  .rc-pagination-disabled {
    .rc-pagination-item-link {
      &::after {
        color: variables.$grey;
      }
    }
  }

  .rc-pagination-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid variables.$grey;
    border-radius: 50%;
    a {
      color: variables.$grey;
    }

    &-active {
      background: variables.$gradient;
      border: none;

      a {
        color: variables.$white;
      }
    }
  }

  .rc-pagination-jump-next {
    display: flex;
    align-items: end;
    height: 40px;
  }
}
