@use '../../styles/variables.scss';

.notFoundBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: variables.$white;
  font-size: 32px;

  .title {
    text-transform: uppercase;
  }

  .text {
    margin: 0 auto;
  }
}
