$white: rgb(255, 255, 255);
$dark: rgb(17, 17, 17);
$orange: rgb(248, 119, 25);
$grey: rgb(183, 183, 183);

$gradient: linear-gradient(
  144.81deg,
  rgb(255, 194, 38) 11.477%,
  rgb(248, 65, 25) 82.303%
);

$font: 'Roboto', sans-serif;
