.rowList {
  display: grid;
  grid-template-columns: repeat(3, 395px);
  justify-content: center;
  gap: 15px;
}

.item {
  display: flex;
  width: 395px;
  height: 575px;
  border-radius: 12px;
  background: linear-gradient(
    -90deg,
    rgb(30, 30, 30) 0%,
    rgb(35, 35, 35) 50%,
    rgb(30, 30, 30) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -135% 50%;
  }
}
