@use '../../styles/variables';

.filters {
  margin: 50px 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
  gap: 20px;

  input {
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid variables.$white;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    color: variables.$white;
  }
}
