@use './styles/variables';

* {
  font-family: variables.$font;
}

html {
  background-color: variables.$dark;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 32px;
}

.main {
  flex: 1 1 auto;
}
